:root .panels_a4d4d9 > .container_b2ca13 > .avatarWrapper_b2ca13 {
  position: fixed;
  bottom: 26.5px;
  left: 327.5px;
  z-index: 2;
  margin: 0;
  padding: 0;
  min-width: unset;
}
:root .panels_a4d4d9 > .container_b2ca13 > .avatarWrapper_b2ca13 > .avatar_b2ca13 {
  width: 40px !important;
  height: 40px !important;
}
:root .panels_a4d4d9 > .container_b2ca13 > .avatarWrapper_b2ca13 > .avatar_b2ca13 > svg {
  contain: unset;
}
:root .panels_a4d4d9 > .container_b2ca13 > .avatarWrapper_b2ca13 > .avatar_b2ca13 foreignObject {
  width: 100% !important;
  height: 100% !important;
}
:root .panels_a4d4d9 > .container_b2ca13 > .avatarWrapper_b2ca13 > .avatar_b2ca13 .pointerEvents_c51b4e {
  x: 31px;
  y: 31px;
  ry: var(--status-radius);
  width: 12px;
  height: 12px;
}
:root .panels_a4d4d9 > .container_b2ca13 > .avatarWrapper_b2ca13 > .avatar_b2ca13:hover {
  opacity: 1;
}
:root .panels_a4d4d9 > .container_b2ca13 > .avatarWrapper_b2ca13 > .avatar_b2ca13 + .nameTag_b2ca13 {
  display: none;
}
